<div class="row">

      <div class="col-md-12">
          <div class="ibox-content text-center" style="height:160px;background-color:#FFF">
                <img alt="image" src="images/rm_logo.jpg" style="height:140px;width:200px">
          </div>
      </div>


</div>
<div class="navbar-wrapper">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">

                  <li>
                  <a href="http://www.vehicle.co.ke"><i class="fa fa-plus fa-lg"></i>VEHICLE.co.ke</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
